:host {
    display: block;
}

.flex {
    display: flex;
    flex-wrap: wrap;

    > .break {
        flex-basis: 100%;
    }

    > .grow {
        flex-grow: 1;
    }
}

.margin-right {
    margin-right: 8px;
}

.remove {
    color: red;
    border: thin solid red;
}
