:host {
    display: flex;
    width: 100%;
}

.grow {
    flex-grow: 1;
}

.title {
    margin-left: 16px;
    margin-right: 64px;
    font-size: 18px;
}

.link {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;

    &:hover {
        color: #1e90ff;
    }
}

.link-text {
    font-size: 14px;

    margin-right: 4px;
}

.github-icon {
    fill: currentColor;
}
