// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

html {
    @include mat.theme(
        (
            color: (
                theme-type: light,
                primary: mat.$azure-palette,
                tertiary: mat.$blue-palette,
            ),
            typography: Roboto,
            density: 0,
        )
    );
}
body {
    background-color: black;

    color: white;
    font-family: Roboto, 'Helvetica Neue', sans-serif;

    height: 100vh;

    margin: 0;
    padding: 0;
}

.highlight {
    font-weight: bold;
}

mat-form-field[appearance='outline'] {
    @include mat.form-field-overrides(
        (
            outlined-label-text-color: white,
            outlined-hover-label-text-color: grey,
            outlined-input-text-color: white,
            outlined-outline-color: grey,
            outlined-hover-outline-color: white,

            outlined-error-hover-outline-color: pink,
            outlined-error-hover-label-text-color: pink,
            outlined-error-focus-outline-color: pink,
        )
    );
}

mat-select {
    @include mat.select-overrides(
        (
            enabled-trigger-text-color: white,
        )
    );
}
